header {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 25px;
    font-style: italic;
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
    padding: 12px;
    border: solid 1px rgb(108, 180, 247);
    border-radius: 10%;
}

.icon-header {
    animation: change-width 3s linear infinite;

}

.banner-header {
    width: 80vw;
}

@keyframes change-width {
    0% {
        width: 35px
    }

    100% {

        width: 55px;
    }
}