body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: rgb(20, 25, 68);
    background-image: linear-gradient(45deg, hsl(207, 71%, 75%), rgb(97, 152, 219), rgb(88, 147, 219));
}


.main {
    padding: 12px;
    min-height: 100vh;
}


.quote-img {
    margin: 12px;
    width: 35px;
    transform: rotate(25deg);
}

.opening-quote {
    display: flex;
    justify-content: start;

}

.closing-quote {
    display: flex;
    justify-content: end;

}

.whatsapp-chat {
    position: fixed;
    right: 30px;
    top: 80vh;
}

.whatsapp-img {
    width: 95px;
    z-index: 100;
}

.ratingsTitle,
.Les-plus-main-title,
.cabinet-dentaire-title,
.ratings-title,
.services-title {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: rgb(224, 227, 230);
    /*color: rgb(174, 212, 248);*/
    text-decoration: underline;
}