.menu{
    margin-top: 21px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


.menu-link{
    padding: 7px;
    width: 27% ;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: large;
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
    border: solid 1px rgb(108, 180, 247);
    text-align: center;
    color: bisque;
    transition: transform 0.2s ease;
    position: relative;
}

.menu a:link, .menu a:visited{
  color: bisque;
  text-decoration: none;
}


.menu-link:hover{
    transform: scale(1.12);
    border-width: 2px;
}

.dorpdown-menu{
    position: absolute;
    display: none;
    padding: 12px 0 21px 0;
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
    top: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 95%;
}


.menu-link:hover .dorpdown-menu{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.dorpdown-menu a:hover{
    background-image: linear-gradient(45deg, rgb(70, 107, 151), rgb(139, 191, 255), rgb(76, 112, 156));
    font-size: larger;
}

@media (max-width: 749px) {

    .menu-links {
        width: auto;
    }
}


