.menu{
    margin-top: 7px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 5px;
}



.menu-link{
    padding: 7px;
    width: 27% ;
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: large;
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
    border: solid 1px rgb(108, 180, 247);
    text-align: center;
    color: bisque;
    transition: transform 0.2s ease;
    position: relative;
}

.menu-link:hover{
    transform: scale(1.12);
    border-width: 2px;
}

.menu-link a{
    color: bisque;
}

.dorpdown-menu{
   /* add on hover
   padding: 5px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
    left: 25%;
    top: 45px;*/
    position: absolute;
    display: none;
}