.ratings {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.reviews-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80vw;
    padding: 15px;
    border-radius: 10px;
    border: solid 1px rgb(108, 180, 247); 
    background-image: linear-gradient(45deg, rgb(92, 136, 189), rgb(139, 191, 255), rgb(96, 140, 194));
}


.reviews-img {
    width: 320px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.reviews-img:hover  {
  transform: scale(1.3);
  border: solid 2px rgb(108, 180, 247);
}

@media (max-width: 749px) {

    .reviews-grid {
        grid-template-columns: 1fr;
    }

    .reviews-img{
        width: 75vw ;
    }

}

@media (min-width: 750px) and (max-width: 1100px) {

    .reviews-grid {
        grid-template-columns: 1fr 1fr;
    }
}