.services {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.service-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}


.service {
    width: 150px;
    height: 150px;
    border-radius: 75px;
     background-image: linear-gradient(45deg, hsl(207, 71%, 75%), rgb(97, 152, 219), rgb(89, 126, 172));
    border: solid 1px rgb(108, 180, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    transition: transform 0.2s ease;
}

.service:hover  {
  transform: scale(1.15); /* Zooms the image to 120% of its size */
}